.page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.page-link {
    top: 39px;
    left: 508px;
    position: absolute;
    text-decoration: none;
}

.page-image {
    width: 100%;
    height: 315px;
    object-fit: cover;
}

.page-link1 {
    top: 129px;
    left: 490px;
    position: absolute;
    text-decoration: none;
}

.page-link2 {
    top: 221px;
    left: 477px;
    position: absolute;
    text-decoration: none;
}
