
header {
    max-width: inherit;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.row1 {
    display: flex;
    overflow: hidden;
}

.imagegroup {
    display: flex;
    width: 100%;
}

    .imagegroup img {
        flex-shrink: 0;
        object-fit: cover;
        border: 3px solid white;
    }

.imagegroup {
    animation: travel linear infinite;
    animation-duration:25s;
}

@keyframes travel {
    0%, 100%{
        transform: translate3d(0,0,0);
    }
    

    50% {
        transform: translate3d(-110%,0,0);
    }
}